<!DOCTYPE html>
<html>
<head>
    <%- include('../../layout/head') %>
</head>
<body>
  <header>
    <%- include('../../layout/header') %>
  </header>

  <main>
    <h2>Search Results</h2>

    <ul class="search-results">

      <% searches.forEach(book => { %>
        <li data-book-id="<%= book.isbn %>">
            <div>
                <form action="/books/<%= book.id %>" method="POST">
                    <input hidden name = "title" value="<%= book.title %>"/>
                    <input hidden name = "author" value="<%= book.author %>"/>
                    <input hidden name = "isbn" value="<%= book.isbn %>"/>
                    <input hidden name = "image_url" value="<%= book.image_url %>"/>
                    <input hidden name = "description" value="<%= book.bookdescription %>"/>
                    <img src = "<%= book.image_url %>"/>
                    <h3><%= book.title %></h3>
                    <h4><%= book.author %></h4>
                    <p><%= book.description %></p>
                    <input type="submit" value="Select this book"/>
                </form>
            </div>
        <% }) %>
    </ul>
  </main>
  <footer>
    
  </footer>
</body>
</html>