<!DOCTYPE html>
<html>
<head>
    <%- include('../layout/head') %>
</head>
<body>
  <header>
    <%- include('../layout/header') %>
  </header>
  <main>
    <div class="main-books"><span><%= results.length %></span><h2>Saved Books</h2></div>
    <ul class="search-results">
      <% results.forEach(book => { %>
        <li data-book-id="<%= book.isbn %>">
          <div class="book-container">
            <img src=<%= book.image_url %> alt=<%= book.title %> title=<%= book.title %>>
            <section>
              <h3><%= book.title %></h3>
              <p><%= book.author %></p>
              <p><%= book.description %></p>
            </section>
            <form action="/book/<%= book.id%>" method="get">
              <button type="submit">Book Details</button>
            </form>
          </div>
        </li>
        <% }) %>
    </ul>
  </main>
  <footer>
    
  </footer>
</body>
</html>